<div class="row">
  <div class="col-sm-8">

    <h2>{{post.title}}</h2>
    <p>{{post.body}}</p>
    <hr>

    <div ng-if="!currentUser">
      Log in to post a comment.
    </div>
    <h3>Comments</h3>
    <form class="form" ng-submit="addComment()" ng-show="currentUser">
      <div class="form-group">
        <textarea class="form-control" ng-model="commentText"></textarea>
      </div>
      <input type="submit" value="Add Comment" class="btn btn-primary">
    </form>
    <hr>

    <ul>
      <li ng-repeat="comment in post.comments">
        <em>{{comment.createdAt | date: 'short'}}</em><br>
        {{comment.body}}
      </li>
    </ul>
    <div ng-if="!post.comments || post.comments.length < 1">There are no comments</div>

  </div>
</div>